.Navigation {
  display: flex;
  justify-content: space-between;
  min-height: 5vh;
  margin-top: 6px;
}

.Link {
  margin-right: 40px;
  font-size: 20px;
  color: aliceblue;
  text-decoration: none;
}
