.form-container {
  display: flex;
  justify-content: center;
}
.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  
  
}
button {
  font-weight: bold;
  padding: 4px;
  
}